@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: rgb(0, 0, 0);
    position: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2c3e50;
}

.menu-items div {
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #110202;
    border-radius: 8px;
    font-size: 0;
}

#menu-items a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header img {
    width: 50%;
    position: flex;
    max-width: 100%;
}

#menu-items {
    list-style: none;
    padding: 0;
    background-color: #000000;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
}

h1 {
    font-size: 50px;
    text-transform: initial;
    letter-spacing: 4px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h3 {
    text-transform: initial;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
}

h4 {
    text-transform: initial;
    letter-spacing: 4px;
    font-size: 18px;
    color: rgba(255, 255, 254, 0.672);
}

.social-media {
    margin: 1rem 0rem 0rem;
    display: flex;
    min-width: 4rem;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;
    height: 20vh;
}

.social-media a {
    text-decoration: none;
    color: #f9f9f9;
    padding: 1rem 4rem;
    border: 2px solid #ac2828;
    min-width: 2rem;
    display: flex;
    transition: 0.5s ease-in-out;
    border-radius: 30px;
    margin: 10px;
    background-color: rgba(103, 91, 91, 0.8);
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.about {
    text-align: center;
    letter-spacing: 1px;
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
}

.about svg {
    height: 100px;
    width: 100px;
    display: flex;
    color: #ac2828;
    background-color: #352c2c;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.habilidades {
    margin: auto;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.card {
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.4s;
    flex-wrap: wrap;
}

.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    flex-wrap: wrap;
}

.card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    flex-wrap: wrap;
}

.face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
    flex-wrap: wrap;
}

.card:hover .face.face1 .content {
    opacity: 1;
    flex-wrap: wrap;
}

.face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block;
    flex-wrap: wrap;
}

.face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

.face.face1 .content a {
    transition: 0.5s;
}

.face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2 {
    transform: translateY(0);
}

p,
a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

social-media a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0 0;
    flex-wrap: wrap;
    display: inline-block;
}

.social-media a:hover {
    background: #ac2828;
    color: whitesmoke;
}

.container {
    display: flex;
    margin: auto;
    min-height: 20vh;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
    background: rgba(81, 81, 81, 0.501);
    flex-wrap: wrap;
}

.habilidades {
    margin-top: 150px;
}

.projetos img {
    height: 20vh;
    width: 16.5vw;
}

.habilidades a {
    outline: 1px dashed #333;
}

.projetos a {
    outline: 1px dashed #333;
}

.contatos {
    background: linear-gradient(315deg rgb(252, 252, 252), #29609e 74%);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.wrapper .button {
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 5px;
    background: #333;
    border-radius: 50px;
    box-shadow: 0px 10px 10px #0000;
    cursor: pointer;
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.wrapper .button:hover .icon {
    color: #fff;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #56df01;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #e0e007;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #000000;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #2f59ad;
}

.wrapper .button .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
    position: relative;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button .span {
    font-size: 20px;
    line-height: 60px;
    font-weight: 500;
    margin-left: 10px;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button:nth-child(1):hover a {
    color: #56df01;
}

.wrapper .button:nth-child(2):hover a {
    color: #e0e007;
}

.wrapper .button:nth-child(3):hover a {
    color: #000000;
}

.wrapper .button:nth-child(4):hover a {
    color: #2f59ad;
}

.contatos wrapper button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    background-color: #2f59ad;
}

.icon {
    cursor: pointer;
}

.button a {
    cursor: pointer;
    background-color: #333;
}
