@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: rgb(0, 0, 0);
    position: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;


}

#menu-itens header {
    position: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 40%;
    position: flex;
}

#menu-itens {
    list-style: none;
    padding: 0;
    background-color: #000000;
    margin-left: 70rem;
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
}

#menu-itens li {
    display: inline;
}

#menu-itens li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all.4s;
    display: in;
}

#menu-itens li a:hover {
    background-color: #ac2828;


}

h1 {
    font-size: 50px;
    text-transform: initial;
    letter-spacing: 4px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h3 {
    text-transform: initial;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
}

h4 {
    text-transform: initial;
    letter-spacing: 4px;
    font-size: 18px;
    color: rgba(255, 255, 254, 0.672);
}

.social-media {
    margin-top: 1rem;
    display: flex;
    min-width: 4rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.social-media a {
    text-decoration: none;
    color: #f9f9f9;
    padding: 1rem 4rem;
    border: 2px solid #ac2828;
    min-width: 4rem;
    display: flex;
    transition: .5s ease-in-out;
    border-radius: 30px;
    margin: 10px;
    background-color: rgba(103, 91, 91, 0.8);
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 90px;
    font-size: 40px;
}

.about {
    text-align: center;
    letter-spacing: 1px;
    color: rgb(236, 236, 236);
    line-height: 180%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;

}

.about svg {
    height: 100px;
    width: 100px;
    display: flex;
    color: red;
    background-color: #352c2c;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}

.habilidades {
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

.card {
    position: relative;    
}

.face {
    width: 300px;
    height: 200px;
    transition: .4s;
    
}

.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    
}

.card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
    
}

.card:hover .face.face1 .content {
    opacity: 1;
}

.face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block;
}

.face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.face.face1 .content a {
    transition: .5s;
}

.face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.card:hover .face.face2 {
    transform: translateY(0);
    
}

p,
a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
    
}

a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    
}

a:hover {
    background: rgb(158, 17, 17);
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    margin: 0;
    min-height: 30vh;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: .5s ease-in-out;
    background: rgba(16, 16, 16, 0.501);
    
}